{
	"presets": [
		["env", {
			"modules": false,
			"targets": {
				"node": "current",
				"browsers": "> 5%"
			},
			"useBuiltIns": true
		}],
		"stage-2"
	],
	"plugins": [
		"ramda",
		"tailcall-optimization",
		[
			"transform-react-jsx",
			{
				"pragma":
				"m"
			}
		]
	]
}
